<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <property name="LOG_PATH" value="/log"/>

    <!-- dev 환경: 콘솔만 -->
    <springProfile name="dev">
        <include resource="logback/console/app-console.xml"/>
        <include resource="logback/console/error-console.xml"/>

        <root level="INFO">
            <appender-ref ref="APP_CONSOLE"/>
            <appender-ref ref="ERROR_CONSOLE"/>
        </root>
        <logger name="com.team.cops_and_robbers" level="INFO"/>
    </springProfile>

    <!-- prod 환경: 파일 + 콘솔 -->
    <springProfile name="prod">
        <include resource="logback/file/app-appender.xml"/>
        <include resource="logback/file/error-appender.xml"/>
        <include resource="logback/console/app-console.xml"/>
        <include resource="logback/console/error-console.xml"/>

        <root level="INFO">
            <appender-ref ref="FILE_APP"/>
            <appender-ref ref="FILE_ERROR"/>
            <appender-ref ref="APP_CONSOLE"/>
            <appender-ref ref="ERROR_CONSOLE"/>
        </root>
        <logger name="com.team.cops_and_robbers" level="INFO"/>
    </springProfile>

</configuration>
